<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Square sum - Genetic-js</title>
  <script src="random.js"></script>
  <script src="selection.js"></script>
  <script src="genetic.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
</head>

<body id="home" ng-controller="SquareSumCtrl">

		<button ng-click="nextGeneration(10000)">Next generation</button>
		<button ng-click="start()">Start</button>

		<p>{{generationNumber}}</p>

		<table>
			<tr ng-repeat="individual in population">
				<td><strong>{{formatNumber(individual.fitness)}}</strong></td>
				<td ng-repeat="value in individual.genome">{{formatNumber(value)}}</td>
			</tr>
		</table>

	<script type="text/javascript">

		function SquareSumCtrl($scope, $timeout)
		{
			genetic.initialize({
				populationSize: 100,
				genomeSize: 10,
				genomeValueType: 'Double',
				mutationProba: 0.7,
				disasterFrequency: 30,
				disasterGravity: 0.99,
				finish: function(population) {
					console.log(population);
				}
			});

			$scope.population = genetic.getPopulation().slice(0, 20);
			$scope.generationNumber = genetic.getGenerationNumber();

			$scope.nextGeneration = function(nb) {
				for (var i = 0; i < nb; i++)
				{
					genetic.nextGeneration();
					$scope.population = genetic.getPopulation().slice(0, 20);
					$scope.generationNumber = genetic.getGenerationNumber();
				}
			};

			$scope.start = function() {
				$scope.nextGeneration(1000);
				$timeout($scope.start, 1);
			};

			$scope.formatNumber = function(number) {
				return number.toFixed(2);
			};
		}
	</script>

</body>
</html>